@import url(https://fonts.googleapis.com/css?family=ABeeZee);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}
